{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_blog %}
        <div class="cms-page blog-page">
            {# block page_blog_headline %}
                <div class="blog-headline text-center">
                    <h1>
                        {{ "blog.headline"|trans() }}
                    </h1>
                </div>
            {% endblock #}

            {% block page_blog_entries %}
                <div class="row justify-content-md-center">
                    <div class="col-7">
                    {% if entries|length %}
                        {% for item in entries %}
                            <article class="">
                                <div class="card mb-lg-3">
                                    <div class="card-body">
                                        <span class="text-muted">{{ item.createdAt|date("F d, Y") }}</span>
                                        <h2>
                                            <a href="{{ path('sns.frontend.blog.detail', {slug: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a>
                                        </h2>
                                        <p>{{ item.content|truncate(250, true) }}</p>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    {% else %}
                    <div class="col">
                        <div class="alert alert-primary" role="alert">
                            Keine Einträge vorhanden.
                        </div>
                    </div>
                    {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
